<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- css 연결 -->
        <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <!-- 서버 데이터를 ejs 파일 안에 넣으려면 ejs 파일로 데이터 전송, ejs 파일 안에서 <%=서버가 보낸 데이터이름%> -->

    <div class="white-bg">
        <div class="list-box">
            <h4>글제목</h4>
            <p>글내용</p>
        </div>
        <div class="list-box">
            <h4>글제목</h4>
            <p>글내용</p>
        </div>
    </div>
</body>
</html>